# TDAC Training 1

## Primitive Types (numbers, floats, strings)

In [34]:
print("hello world!")

hello world!

In [35]:
my_int = 5
my_float = 5.14

In [36]:
print(my_int)

5

In [37]:
my_int = 10

In [38]:
my_name = 'Jordan'
print(my_name)

Jordan

## Control flow (booleans & if statements)

In [39]:
my_age = 11
is_person_legal = my_age >= 18

In [40]:
is_drinking_age = my_age >= 21

In [41]:
if my_age >= 21:
  print(my_name, 'is of drinking age')
else:
  print(my_name, 'is not of drinking age')

Jordan is not of drinking age

## Functions

In [42]:
def is_legal(number_entered):
  if number_entered >= 18:
    return True
  else:
    return False

In [43]:
# sum of 2 numbers
def test(a, b):
  return a + b

for num in range(14, 20):
  print(num, is_legal(num))

14 False
15 False
16 False
17 False
18 True
19 True

## Lists & Iteration

In [44]:
my_list = [2, 6, 5, 10, 5.17]

In [45]:
for my_item in my_list:
  print(my_item, end='\n')

2
6
5
10
5.17

In [46]:
my_name = 'Aditya'

In [47]:
for my_char in my_name:
  print(my_char)

A
d
i
t
y
a

In [48]:
x_values = [1, 3, 5, 7 ,9]

In [49]:
def my_func(num):
  return num * num

## List Comprehensions

In [50]:
y_values = [  my_func(  x_val  ) for x_val in  x_values ]

In [51]:
y_values

[1, 9, 25, 49, 81]

In [52]:

x_values[0]
x_values[-1]

my_name[-1]

'a'

In [53]:
print(x_values)
print(x_values[::-2])

[1, 3, 5, 7, 9]
[9, 5, 1]

In [54]:
import numpy

## Currency Conversion Exercise

In [55]:
# dollar to peso

peso_to_usd = 0.046
usd_to_peso = 1 / peso_to_usd

def convert_usd_to_peso(usd_value):
  return round(usd_value * usd_to_peso, 2)

In [56]:
print(convert_usd_to_peso(2.5))

54.35

In [57]:
my_wallet = [2.5, 1.4, 9.13]

In [58]:
my_pesos = [ convert_usd_to_peso(currency) for currency in my_wallet]

In [59]:
my_pesos

[54.35, 30.43, 198.48]

In [60]:
class Wallet:

  def __init__(self, initial_value):
    self.total_value = initial_value
  
  def add_dollar_wallet(self):
    self.total_value = 1.00 + self.total_value

In [61]:
my_wall = Wallet(5.16)

In [62]:
my_wall.total_value

5.16

In [63]:
my_wall.add_dollar_wallet()

In [64]:
my_wall.total_value

6.16

In [65]:
class Numpy:

  def __init__(self, my_name):
    self.name = ''
  
  def arccos(self):
    self.total_value = 1.00 + self.total_value

In [66]:
numpy.cos(0)

1.0