# Import the basic data processing libraries

In [1]:
import numpy as np
import pandas as pd

# Make a employee dataset

## Make Python list for employee attributes:  Names, Salary, Gender, Location, ID, and Age

In [2]:
Emp_Names =["Sam", "John","Jess" ,"Rose" ,"Kevin","Sarah", "Jose",None]  
Emp_Loc =["Houston","Houston","Austin","Dallas","Austin",None,"Austin",None]
Emp_Sal = [15,35,np.nan,75,40,35,np.nan,np.nan]
Emp_ID = [1,2,3,4,5,6,7,8]
Emp_Age= [23,40,73,24,33,np.nan,np.nan,45]

## Combine the lists into one composite dataframe or data matrix

In [3]:
df= pd.DataFrame({"ID":Emp_ID, "Names": Emp_Names, "Salary":Emp_Sal,"Location": Emp_Loc, "Age":Emp_Age 
    
})

In [ ]:
df.head(8) ## Print the dataset

In [ ]:
print(df.shape)

## Print the list total number of missing values in all the columns (features)

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

## Delete the last row since only most of the features except age are missing

In [7]:
df=df.drop([7]) # drop the last row

In [ ]:
df.head(8)

In [ ]:
df.shape

## Name and ID are redundant features so we can delete one of them.

In [10]:
df=df.drop(['Names'],axis = 1 )

In [ ]:
df.head(8)

## Impute Missing Numeric Features

### Start by replacing the missing salaries with the average salary

In [ ]:
Mean_Sal = df["Salary"].mean()
print(Mean_Sal)

In [ ]:
df["Salary"]=df["Salary"].fillna(Mean_Sal)
df.head(10)

### Relacing the missing age with the average age, then we round it up.

In [14]:
Mean_Age = df["Age"].mean()
print(Mean_Age)
Mean_Age= round(Mean_Age)
print(Mean_Age)

38.6
39

In [ ]:
df["Age"]=df["Age"].fillna(Mean_Age)
df.head(10)

## Impute Missing Categorical Features

### list all the unique values in the Location column(feature)

In [ ]:
df["Location"].unique()

## Find the most common Location

In [ ]:
Mode_Loc= df["Location"].mode()[0]
print(Mode_Loc)

## Replace the missing Location with the most common (mode) Location.

In [18]:
df["Location"]=df["Location"].fillna(Mode_Loc)
df.head(10)

   ID  Salary Location   Age
0   1    15.0  Houston  23.0
1   2    35.0  Houston  40.0
2   3    40.0   Austin  73.0
3   4    75.0   Dallas  24.0
4   5    40.0   Austin  33.0
5   6    35.0   Austin  39.0
6   7    40.0   Austin  39.0

# Encoding the categorical data

## Label Encode the Gender and Location features

In [19]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
lbl= LabelEncoder()
lbl.fit(list(df['Location'].values))

In [ ]:
df['Location'] = lbl.transform(list(df['Location'].values))
df.head(8)

## Create dummie variables

In [22]:
df1=df

In [ ]:
df1=pd.get_dummies(df1, columns=["Location"])
df1.head(8)

## When creating dummy variables always set drop_first = True to reduce redundancy

In [ ]:
df=pd.get_dummies(df, columns=["Location"],drop_first=True)

df.head(8)